pkgbase = audit
	pkgdesc = Userspace components of the audit framework
	pkgver = 4.0
	pkgrel = 1
	url = https://people.redhat.com/sgrubb/audit
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = apparmor
	makedepends = glibc
	makedepends = krb5
	makedepends = libcap-ng
	makedepends = libldap
	makedepends = linux-api-headers
	makedepends = python
	makedepends = swig
	options = emptydirs
	source = https://github.com/linux-audit/audit-userspace/archive/v4.0/audit-userspace-v4.0.tar.gz
	source = audit.tmpfiles
	source = audit-4.0-executable_paths.patch
	sha512sums = f001e3f466e012dc9c41e8aefd19ffac0db73c8510cd20467e2eb78dcf7a0fdde64279ec2ff0c370ecba692cda2ae228543b8e7ecdae06863ef37f6fa3a7c7c3
	sha512sums = 1750741755f58d0ae19ed2c30e136d05560dc12ec613a502bad12f47c6b70432d30b3a16f3f1574c8433ad2701428d1c1d567a4d3b55be19abac300310c831d9
	sha512sums = 5c1b524bf86234eac690cbe073e5b5459d3f74ec58ef57d50250261b0b1ca4656f295f410bf0727242ed852e725e6acd4438a4a02993c21a6fc80c132eb745b1
	b2sums = c8ab1b241134dfc16f4a440358203b095b376a5f2042c6434a22d4127b3ae0751759b2f457bab50b81969368daa218bedbcd4cce815aec5fe6d13a62e9363d57
	b2sums = 549ebbbc9e43277d44d0dc5bfd8ca2926628322d898479171b2707dd004968d036ef792b442548af90ad56dea868a72c88b5cf3bb93ea70cb8bbed82747ad9b5
	b2sums = 36e9c74eeccda534a019f780d7aa5337fc24118129c2766203a8bb028a81ba2bdf057cbc78194bcaeeda28c7ae9ef4ef8bb9cd34a37e47655a4ed2b64381935d

pkgname = audit
	depends = glibc
	depends = krb5
	depends = libkrb5.so
	depends = libgssapi_krb5.so
	depends = libcap-ng
	depends = libcap-ng.so
	optdepends = libldap: for audispd-zos-remote
	optdepends = sh: for augenrules
	provides = libaudit.so
	provides = libauparse.so
	backup = etc/libaudit.conf
	backup = etc/audit/audit-stop.rules
	backup = etc/audit/auditd.conf
	backup = etc/audit/audisp-remote.conf
	backup = etc/audit/zos-remote.conf
	backup = etc/audit/plugins.d/af_unix.conf
	backup = etc/audit/plugins.d/au-remote.conf
	backup = etc/audit/plugins.d/audispd-zos-remote.conf
	backup = etc/audit/plugins.d/syslog.conf

pkgname = python-audit
	pkgdesc = Userspace components of the audit framework - Python bindings
	depends = audit
	depends = libaudit.so
	depends = libauparse.so
	depends = glibc
	depends = python
